.page-header
{
    color: white;
    margin-top: 70px;
}

#cajaArticulos
{    
    background-color: white;
    border: solid 3px dodgerblue;
    margin-bottom: 10px;
    margin-top: 10px;
}

#tamanoImagen
{    
    width: 100px;
    height: 100px;
}
