h1
{
    color: lightseagreen;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    font-family: Algerian;
    font-style: italic;
}

h3
{
    color: white;
    text-align: justify;
    font-family: Arial;
}

.col-md-4
{
    padding-top: 20px;
    float: right;
}

.col-md-12
{
    margin-top: 40px;
}

#descripcion
{
    background-color: white;
    padding-bottom: 20px;
}

#descripcion h3
{
    color: dodgerblue;
}

#idMision h3
{
    margin-top: 40px;
}